@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", san-serif;
}

.header {
  background-color: #eee;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  padding: 0.6rem;
}

.logo-icon {
  height: 100%;
}

.search-box {
  display: flex;
  align-items: center;
  height: 100%;
  border: solid black 1px;
  border-radius: 99999px;
  padding: 9px;
  width: 400px;
  gap: 9px;
}

.search-icon {
  height: 100%;
}

#search-input {
  border: none;
  background-color: transparent;
  padding: 4px;
  width: 100%;
}

#search-input:focus {
  outline: none;
  border-bottom: solid black 1px;
}

.filter-box {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.main {
  padding: 1.2rem 0;
}

.option-box {
  display: flex;
  margin: 1.2rem 0;
  gap: 1.2rem;
  align-items: center;
}

.filter-box button {
  border: 2px solid black;
  border-radius: 9999px;
  padding: 0.6rem;
}

#sortType {
  margin-left: auto;
  padding: 0.6rem;
  height: min-content;
}

.active {
  background-color: black;
  border: none;
  color: #eee;
}

#content-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.2rem;
  justify-items: center;
  align-items: stretch;
}

.card {
  width: auto;
  border: 2px solid black;
  border-radius: 9px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.details {
  padding: 0.6rem;
}

.card-title {
  font-weight: 500;
  font-size: 14px;
}

.card-price {
  margin-top: 12px;
  font-size: 12px;
}

#no-data-container {
  display: none;
  background-color: white;
}

#no-data-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.no-data {
  font-size: 20px;
  color: black;
}

@media only screen and (max-width: 992px) {
  .filter-box button {
    font-size: 12px;
  }

  #sortType {
    font-size: 12px;
  }

  #content-box {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.8rem;
  }

  .card-image {
    width: 100%;
    height: 360px;
  }

  .details {
    padding: 0.6rem;
  }

  .card-title {
    font-weight: 500;
    font-size: 12px;
  }

  .card-price {
    margin-top: 6px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .search-box {
    width: 300px;
  }

  .filter-box button {
    font-size: 10px;
  }

  #sortType {
    font-size: 10px;
  }

  #content-box {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.6rem;
  }

  .card-image {
    width: 100%;
    height: 300px;
  }

  .details {
    padding: 0.4rem;
  }

  .card-title {
    font-weight: 500;
    font-size: 12px;
  }

  .card-price {
    margin-top: 6px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .main {
    padding: 0.6rem 0;
  }

  .filter-box button {
    font-size: 8px;
  }

  #sortType {
    font-size: 8px;
  }

  #content-box {
    grid-template-columns: 1fr 1fr;
    gap: 0.6rem;
  }

  .card {
    width: auto;
  }

  .card-image {
    width: 100%;
    height: 300px;
  }

  .details {
    padding: 0.4rem;
  }

  .card-title {
    font-weight: 500;
    font-size: 10px;
  }

  .card-price {
    margin-top: 6px;
    font-size: 8px;
  }
}

@media only screen and (max-width: 480px) {
  .search-box {
    width: 200px;
  }

  #content-box {
    grid-template-columns: 1fr 1fr;
    gap: 0.6rem;
  }

  .option-box {
    flex-direction: column;
    justify-content: center;
  }

  #sortType {
    margin: 0;
    font-size: 8px;
  }

  .card-image {
    width: 100%;
    height: 200px;
  }
}
